---
---

@import "{{ site.theme }}";

//
// Quoteblocks
//
blockquote {
    color: $grey-color;
    border-left: 0px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: normal;
  
    > :last-child {
      margin-bottom: 0;
    }
  }

.speechquote {
    color: $grey-color;
    border-left: 0px solid $grey-color-light;
    margin-left: $spacing-unit*2;
    margin-right: $spacing-unit*2;
    padding-left: $spacing-unit/2;
    padding-right: $spacing-unit/2;
    padding-top: $spacing-unit/2;
    // padding-bottom: $spacing-unit/2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: normal;
    background-color:rgb(255, 237, 250);
  
    > :last-child {
      padding-bottom: $spacing-unit/2;
    }
  }

.shortstory {
    color: $grey-color;
    border-left: 0px solid $grey-color-light;
    padding-left: $spacing-unit*2;
    padding-right: $spacing-unit*2;
    padding-top: $spacing-unit;
    // padding-bottom: $spacing-unit;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: normal;
    background-color:rgb(239, 251, 253);
  
    > :last-child {
      padding-bottom: $spacing-unit;
    }
}

.bookquote {
    color: $grey-color;
    border-left: 0px solid $grey-color-light;
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    padding-left: $spacing-unit/2;
    padding-right: $spacing-unit/2;
    padding-top: $spacing-unit/2;
    padding-bottom: $spacing-unit/2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: normal;
    background-color:lightgoldenrodyellow;
  
    > :last-child {
      margin-bottom: 0;
    }
  }